%h2 Welcome!
- if !@current_user
  %p Please log on to Tweet Stat with your Twitter account.

#error
  = flash[:error]
#notice
  = flash[:notice]
%p
  - if @current_user
    Welcome! We're glad you're here and using our app.
  - else
    = link_to image_tag( 'Sign-in-with-Twitter-darker.png', 
        { :alt => 'Sign-in With Twitter' } ), new_user_path, :id => 'sign_in_with_twitter'
